@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500&display=swap');

*{
  box-sizing: border-box;
}

body{
    font-family: Hind,sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

input{
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    height: 30px;
    width: 300px;
    padding-left: 10px;
}

input[type=text]:focus,
input[type=file]:focus {
    outline: none;
    border: 1.5px solid rgb(146, 141, 141);
    border-radius: 5px;
}

label{
    padding-right: 15px;
}

.container{
    display: grid;
    /* height: 100vh; */
}

.container__title{
    grid-column: 1/3;
    grid-row:1/2;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid #969696;
    background-color: #F5F7F7;
}

.container__path{
    grid-column: 1/2;
    grid-row: 2/3;
    height: 10vh;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #F5F7F7;
    width: 30vw
}

.container__icons{
    grid-column: 2/3;
    grid-row: 2/3;
    height: 10vh;
    padding: 10px;
    width: 70vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F7F7;
    
}

.container__icons--list{
    display: flex;
    padding: 20px;
    gap:20px;
}

.container__icons--filter{
    display: flex;
}


.container__sidebar{
    grid-column: 1/2;
    grid-row: 3/4;
    height: 80vh;
    /* width: auto; */
    padding: 20px;
    border-right: 1px solid #969696;
   
}

ul{
    list-style-type: none;
}


#ul{
    margin:0;
    padding:0;
}

.caret{
    cursor: pointer;
    user-select: none;
}

.caret::before{
    content: url('./icons/folder.svg');
    display: inline-block;
    color: #000;
    margin-right: 5px;
}

.nested > li::before{
    content: url('./icons/cierre.gif');
    display: inline-block;

}

.nested{
    display: none;
}

.active{
    display: block;

}

.caret-down:before{
    transform: rotate(90deg);
}



.container__content{
    grid-column: 2/3;
    grid-row: 3/4;
    height: 80vh;
    /* width: 50%; */
    /* padding: 20px; */
    display: grid;
    grid-template-columns: auto auto auto auto;
} 

.container__content > div{
    display: flex;
    flex-direction: column;
    padding:20px
}

.file{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-right: 50px;
}

.file img{
    padding-right: 5px;
}